{% extends 'base.html' %} {% load static %} {% block content %} {% url 'home' as home %} {% url 'signup' as signup %} {% url 'mpd' as mpd %}
<nav class="navbar" style="border-bottom: 1px solid rgba(44, 113, 235, 0.25)">
  <a href="{{home}}">
    <img
      src="{% static 'images/Logo.png' %}"
      alt="Logo"
      style="width: auto; height: 70px; margin-left: 50px"
  /></a>
</nav>
<br />
<br />
<br />
<br />

<center>
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %%}
    <div class="col-3">
      <div>
        <h1>Connexion</h1>
      </div>
      <br />
      <div>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          name="email"
          value="{{email}}"
          placeholder="Email"
          style="width: 600px; height: 60px"
        />
      </div>
      <br />
      <div>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1 "
          name="password"
          value="{{password}}"
          placeholder="Mot de passe "
          style="width: 600px; height: 60px"
        />
      </div>
      <br />

      <br />
      <div style="display: flex;">
        <a
          class="nav-link"
          href="{{mpd}}"
          style="
            color: #2c71eb;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          "
        >
          Mot de passe oublié?</a
        >
      </div>
      <br />

      <button
        type="submit"
        class="btn btn-primary"
        style="
          width: 600px;
          height: 60px;
          font-family: Roboto Condensed;
          font-size: 30px;
        "
      >
        Se connecter
      </button>

      {% if text%}
      <p id="myMessage5" style="color: red"><strong>{{ text }}</strong></p>
      {% endif %}
      <script>
        function hideMessage(message, seconds) {
          setTimeout(function () {
            message.style.display = "none";
          }, seconds * 1000);
        }
        var message = document.getElementById("myMessage5");
        hideMessage(message, 4);
      </script>

      {% if text1 %}
      <p id="myMessage7" style="color: red"><strong>{{ text1 }}</strong></p>
      {% endif %}
      <script>
        function hideMessage(message, seconds) {
          setTimeout(function () {
            message.style.display = "none";
          }, seconds * 1000);
        }
        var message = document.getElementById("myMessage7");
        hideMessage(message, 4);
      </script>
      <br />
      <br />
      <div style="display: flex;">
        <span
          style="
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          "
        >
          Vous n'avez pas de compte ?</span
        >
        &nbsp;
        <a
          class="nav-link"
          href="{{signup}}"
          style="
            color: #2c71eb;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          "
        >
          S'inscrire
        </a>
      </div>
      <br />
    </div>
  </form>
</center>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="border-top: 1px solid rgba(44, 113, 235, 0.25)">
  <div>
    <img
      src="{% static 'images/Logo.png' %}"
      alt="Logo"
      style="width: auto; height: 70px; margin-left: 50px"
    />
  </div>
  <div
    style="
      display: flex;
      justify-content: flex-end;
      font-family: Roboto Condensed;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-right: 50px;
    "
  >
    <h5 style="color: #000; font-size: 18px; font-style: normal">
      © Designed And Developed by:
    </h5>
    &nbsp;
    <h5 style="color: #2c71eb; font-size: 18px; font-style: normal">
      Beb's Aude
    </h5>
  </div>
  {% endblock %}
</div>
